beautifulsoup4==4.9.3
certifi==2021.5.30
cffi==1.14.5
chardet==4.0.0
click==8.0.1
cryptg==0.2.post4
greenlet==1.1.0
hachoir==3.1.2
idna==2.10
lxml==4.6.3
peewee==3.14.4
psycopg2-binary==2.9.1
pyaes==1.6.1
pyasn1==0.4.8
pycparser==2.20
PyMySQL==1.0.2
pyTelegramBotAPI==3.7.9
python-dotenv==0.18.0
pytube==10.8.5
requests==2.25.1
rsa==4.7.2
soupsieve==2.2.1
SQLAlchemy==1.4.18
telegram-upload==0.4.0
Telethon==1.22.0
urllib3==1.26.5
